# Data files
data/
*.csv

# Credentials and secrets
.kaggle/
kaggle.json
.streamlit/
secrets.toml

# Python
**pycache**/
*.py[cod]
*$py.class
*.so
.Python
env/
.env
build/
dist/
*.egg-info/
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.ipynb_checkpoints*

# VS Code
.vscode/